<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Score</title>
    <style>
      /* Add CSS styles for page layout */
      body {
          font-family: Arial, sans-serif;
          text-align: center;
      }
      .quiz-container {
          max-width: 800px;
          margin: 0 auto;
      }
      .question {
          margin: 20px 0;
      }
    </style>
  </head>
  
  <body>
    <h1>Score Page</h1>
    <h2>You got a _ out of 10 </h2>


  </body>
</html>