<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login Page</title>
    <script src="https://aframe.io/releases/1.4.1/aframe.min.js"></script>
  </head>
  <body>
  <h1>Welcome To The Login Page</h1>
  <div id="login">
    <form>
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br><br>
      <label for="pwd">Password:</label><br>
      <input type="password" id="pwd" name="pwd"><br><br>
    </form>
 
    <a href="/proxy/8099/questions">
      <button>Login</button>
    </a>
  </div>
  </body>
 
</html>