<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Questions</title>
    <link rel="stylesheet" type="text/css" href="/static/questions.css">
  </head>
  
  <body>
    <h1>Quiz App</h1>

      <div id="Question_1">
        <h2>Question 1: What is 5 + 5?</h2>
        <input type="radio" id="55" name="question_1" value="55">
        <label for="55">55</label>

        <input type="radio" id="cheese" name="question_1" value="cheese">
        <label for="cheese">cheese</label>

        <input type="radio" id="10" name="question_1" value="10">
        <label for="10">10</label>

        <input type="radio" id="20" name="question_1" value="20">
        <label for="20">20</label>
      </div>
      
      <div id="Question_2">
        <h2>Question 2: Why do I do poorly on every quiz?</h2>
        <input type="radio" id="because you suck" name="question_2" value="Because you suck">
        <label for="because you suck">Because you suck</label>

        <input type="radio" id="you don't study" name="question_2" value="You don't study">
        <label for="you don't study">You don't study</label>

        <input type="radio" id="skill issue fr fr" name="question_2" value="Skill issue fr fr">
        <label for="skill issue fr fr">Skill issue fr fr</label>

        <input type="radio" id="sounds like a you problem" name="question_2" value="Sounds like a you problem">
        <label for="sounds like a you problem">Sounds like a you problem</label>
      </div>
      
      <div id="Question_3">
        <h2>Question 3: How do you spell red?</h2>
        <input type="radio" id="LSTER" name="question_3" value="LSTER">
        <label for="LSTER">L.S.T.E.R</label>

        <input type="radio" id="bingus" name="question_3" value="BINGUS">
        <label for="bingus">B.I.N.G.U.S</label>

        <input type="radio" id="bababooey" name="question_3" value="Bababooey">
        <label for="bababooey">B.A.B.A.B.O.O.E.Y</label>

        <input type="radio" id="red" name="question_3" value="R.E.D">
        <label for="red">R.E.D</label>

      </div>

      <a href="/proxy/8099/score">
        <button>Submit</button>
      </a>
  </body>
</html>